.app {
   width: 100vw;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: auto;
}

.todo-container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 80%;
   height: 100%;
   flex-wrap: wrap;
}