@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&family=Ysabeau+Infant:wght@200;300&display=swap');

:root {
   --black: #1A191A;
   --white: #F0E8F0;
   --dark-gray: #242424;
   --mid-gray: #302F30;
   --gray: #757275;
   --light-grey: #969296;

   --primary-color: #B941EB;
   --secondary-color: #CF31D4;
   --tertiary-color: #7631D4;

   /* FONTS */
   --default-font: 'Montserrat', sans-serif;
   --ysabeau-infant: 'Ysabeau Infant', sans-serif;
}

@keyframes scaleIn {
   from {
      transform: scale(0);
   }

   to {
      transform: scale(1);
   }
}

@keyframes scaleOut {
   from {
      transform: scale(1);
   }

   to {
      transform: scale(0);
   }
}

.dialog {
   position: absolute;
   top: 180px;
   /* Position the dialog below the button */
   left: 125px;
   padding: 10px;
   background-color: #ffffff;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   z-index: 1000;
   width: 5rem;
   animation-duration: 0.2s;
   animation-timing-function: ease-in-out;
   animation-fill-mode: forwards;
   display: none;
}

.dialog div {
   color: var(--black);
}

.dialog-open {
   display: block;
   /* Show the dialog when the class is applied */
   animation-name: scaleIn;
   /* Apply the opening animation */
}

/* Apply the closing animation */
.dialog-closed {
   display: block;
   animation-name: scaleOut;
}