@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&family=Ysabeau+Infant:wght@200;300&display=swap');

:root {
   --black: #1A191A;
   --white: #F0E8F0;
   --dark-gray: #242424;
   --mid-gray: #302F30;
   --gray: #757275;
   --light-grey: #969296;

   --primary-color: #B941EB;
   --secondary-color: #CF31D4;
   --tertiary-color: #7631D4;

   /* FONTS */
   --default-font: 'Montserrat', sans-serif;
   --ysabeau-infant: 'Ysabeau Infant', sans-serif;
}

@keyframes scaleIn {
   from {
      transform: scale(0) translateX(-100%);
      opacity: 0;
   }

   to {
      transform: scale(1) translateX(0%);
      opacity: 1;
   }
}

.dialog {
   position: absolute;
   top: 180px;
   /* Position the dialog below the button */
   left: 125px;
   padding: 10px;
   background-color: var(--dark-gray);
   color: var(--white);
   border: 1px solid #ccc;
   border-radius: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   z-index: 1000;
   width: 3.75rem;
   animation-duration: 0.23s;
   animation-timing-function: ease-in-out;
   animation-fill-mode: forwards;
   font-family: var(--default-font);
   border: 0;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   font-size: 0.8rem;
}

.dialog:focus {
   border: 0;
   outline: 0;
}

.dialog div {
   color: var(--white);
}

.dialog-open {
   animation-name: scaleIn;
}