@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&family=Ysabeau+Infant:wght@200;300&display=swap');

:root {
   --black: #1A191A;
   --white: #F0E8F0;
   --dark-gray: #242424;
   --mid-gray: #302F30;
   --gray: #757275;
   --light-grey: #969296;

   --primary-color: #B941EB;
   --secondary-color: #CF31D4;
   --tertiary-color: #7631D4;

   --default-font:'Montserrat', sans-serif;
   --ysabeau-infant: 'Ysabeau Infant', sans-serif;
}


.newtodo-container,
.todos-wrapper {
   width: 80%;
   height: 100%;
}

.newtodo-container,
.newtodo-box {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.newtodo-container {
   margin: 30px;
   background-color: var(--dark-gray);
   border-radius: 5px;
   position: relative;
   transition: 1s;
   transition: width 1s;
}

@media screen and (max-width: 1920px){
   .newtodo-container {
      width: 40%;
   }
}


.newtodo-container::before {
   content: "";
   position: absolute;
   top: -2px;
   left: -2px;
   right: -2px;
   bottom: -2px;
   background: linear-gradient(45deg, #B941EB, #CF31D4, #7631D4, #7631D4, #CF31D4, #B941EB);
   background-size: 500%; /* You'll need to experiment with the right size here */
   border-radius: 5px;
   z-index: -1;
   transition: background-position 2s;
   transition: background-size 2s; 
   transition: 1s;
}

.newtodo-container:hover::before {
   background-size: 100%;
}

.newtodo-box {
   margin: 20px;
   width: 95%;
   max-width: 100%; /* Add this line to limit the width */
   height: auto;
   display: flex;
   box-sizing: border-box;
   transition: 1s;
   transition: width 1s;
}

@media screen and (max-width: 420px) {
   .newtodo-box {
      width: 35%;
   }
}


.newtodo-title,
.newtodo-content {
   color: var(--black);
   border: none;
   outline: none;
   font-family: var(--default-font);
   font-weight: 400;
   width: 100%;
   padding: 20px;
   border-radius: 10px;
   padding: 20px;
   box-sizing: border-box;
   transition: padding 1s, width 1s;
}

.newtodo-title {
   font-size: 1.25rem;
   margin-bottom: 10px;
}

.newtodo-content {
   font-size: 1rem;
   resize: none;
   height: 150px;
}

.todos-wrapper {
   outline: blue 1px solid;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
align-items: center;
   transition: 1s;
   transition: justify-content 1s;
}

.todo-container {
   outline: green 1px solid;
   width: 30%;
   height: 175px;
   margin: 10px;
   padding: 1.5em;
   display: flex;
   overflow-x: hidden;
   flex-direction: column;
   align-items: center;
   transition: width 1s;
}

.title,
.todo-content {
   outline: 1px solid skyblue;
}

@media screen and (min-width: 1800px) {
   .todo-container {
      width: 20%;
   }
}